# Raspberry PI NAT Gateway configuration

# This is the gateway address to be provided on the LAN. It is mandatory.  You
# must not specify an address range that is in use farther upstream.  The
# subnet is hard coded to 255.255.255.0 (/24).
LAN_IP = 192.168.111.1

# This is the last octets of range of IP addresses to assign via DHCP on the
# LAN, in the form "FIRST_IP,LAST_IP". Comment it out to disable DHCP. The
# addresses must be in the same /24 netblock as the LAN_IP but the range must
# not include LAN_IP.
DHCP_RANGE = 192.168.111.2,192.168.111.128

# This is a space-separated list of TCP ports to allow on the WAN interface.
# Comment it out to block all WAN ports.  For example, enabling port 22 will
# allow SSH access from the WAN (but don't do that unless you've set a good
# password for user 'pi').
# UNBLOCK = 22

# This is a space-separated list of TCP ports to be forwarded to other hosts,
# each element is in the form "PORT=DESTIP:DESTPORT". Ports will be forwarded
# from WAN or LAN, but you must explicitly unblock incoming WAN ports above.
# Note ports 32768 thru 60999 are reserved by the kernel and should be avoided.
# FORWARD = 61022=192.168.111.10:22 61080=172.16.128.254:80 61443=172.16.128.254:443

# If these are defined then connection to WAN will be via WiFi STA, and the
# built-in ethernet will be bridged to the LAN. They are passed to
# wpa_supplicatn exactly as given, except "$" must be entered as "$$" and
# leading/trailing whitespace is deleted. See wpa_supplicant documentation for
# more formatting options.
# WAN_SSID = My router
# WAN_PASSPHRASE = The router's password

# If these are defined then WiFi AP will be bridged to the LAN. SSID and
# PASSPHRASE are passed to hostapd exactly as given, except "$" must eb entered
# as "$$", and leading./trailing whitespace is removed.
# LAN_SSID = Raspberry Pi NAT Gateway
# LAN_PASSPHRASE = change this passphrase!
# LAN_CHANNEL = 2 # See https://en.wikipedia.org/wiki/List_of_WLAN_channels

# The country code is required for either WiFi operation, see
# https://en.wikipedia.org/wiki/List_of_ISO_3166_country_codes
# COUNTRY=US

# The built in ethernet connects to the WAN, and normally gets an address via
# DHCP. To give it a static IP insteade, define the IP address, gateway, and
# DNS server here.
# WAN_IP = 172.16.128.240/24
# WAN_GW = 172.16.128.1
# WAN_DNS = 8.8.8.8

# All these params can also be passed on the make command line and will
# override the settings here, E.G.:
#
#    make LAN_IP=172.16.128.1 DHCP_RANGE= UNBLOCK=22
